.heading {
    grid-area: heading;

    padding: 1rem 2rem;
}

.toolbar {
    grid-area: tool;

    padding: 1rem 2rem;

    display: grid;
    gap: 1.25rem;
    grid-template-rows: 3rem repeat(11, 1rem) 1fr;
}

.heading,
.toolbar {
    color: var(--color-text-light);
    background-color: var(--color-background-blue);
}

nav,
ul {
    display: contents;
    list-style: none;
}

li {
    display: flex;
    align-items: center;
    gap: .5rem;
}

li:nth-child(7) {
    grid-row: 8;
}

li:nth-child(8) {
    grid-row: 9;
}

li:nth-child(9) {
    grid-row: 10;
}

a {
    text-decoration: none;
    color: var(--color-text-light);
    font-weight: bold;
}